
.rect-auto, .c100.p51 .slice, .c100.p52 .slice, .c100.p53 .slice, .c100.p54 .slice, .c100.p55 .slice, .c100.p56 .slice, .c100.p57 .slice, .c100.p58 .slice, .c100.p59 .slice, .c100.p60 .slice, .c100.p61 .slice, .c100.p62 .slice, .c100.p63 .slice, .c100.p64 .slice, .c100.p65 .slice, .c100.p66 .slice, .c100.p67 .slice, .c100.p68 .slice, .c100.p69 .slice, .c100.p70 .slice, .c100.p71 .slice, .c100.p72 .slice, .c100.p73 .slice, .c100.p74 .slice, .c100.p75 .slice, .c100.p76 .slice, .c100.p77 .slice, .c100.p78 .slice, .c100.p79 .slice, .c100.p80 .slice, .c100.p81 .slice, .c100.p82 .slice, .c100.p83 .slice, .c100.p84 .slice, .c100.p85 .slice, .c100.p86 .slice, .c100.p87 .slice, .c100.p88 .slice, .c100.p89 .slice, .c100.p90 .slice, .c100.p91 .slice, .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice, .c100.p95 .slice, .c100.p96 .slice, .c100.p97 .slice, .c100.p98 .slice, .c100.p99 .slice, .c100.p100 .slice {
    clip: rect(auto, auto, auto, auto);
}
.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
    border: 0.08em solid #307bbb;
    border-radius: 50%;
    clip: rect(0em, 0.4em, 0.8em, 0em);
    height: 0.64em;
    position: absolute;
    transform: rotate(0deg);
    width: 0.64em;
}
.pie-fill, .c100.p51 .bar::after, .c100.p51 .fill, .c100.p52 .bar::after, .c100.p52 .fill, .c100.p53 .bar::after, .c100.p53 .fill, .c100.p54 .bar::after, .c100.p54 .fill, .c100.p55 .bar::after, .c100.p55 .fill, .c100.p56 .bar::after, .c100.p56 .fill, .c100.p57 .bar::after, .c100.p57 .fill, .c100.p58 .bar::after, .c100.p58 .fill, .c100.p59 .bar::after, .c100.p59 .fill, .c100.p60 .bar::after, .c100.p60 .fill, .c100.p61 .bar::after, .c100.p61 .fill, .c100.p62 .bar::after, .c100.p62 .fill, .c100.p63 .bar::after, .c100.p63 .fill, .c100.p64 .bar::after, .c100.p64 .fill, .c100.p65 .bar::after, .c100.p65 .fill, .c100.p66 .bar::after, .c100.p66 .fill, .c100.p67 .bar::after, .c100.p67 .fill, .c100.p68 .bar::after, .c100.p68 .fill, .c100.p69 .bar::after, .c100.p69 .fill, .c100.p70 .bar::after, .c100.p70 .fill, .c100.p71 .bar::after, .c100.p71 .fill, .c100.p72 .bar::after, .c100.p72 .fill, .c100.p73 .bar::after, .c100.p73 .fill, .c100.p74 .bar::after, .c100.p74 .fill, .c100.p75 .bar::after, .c100.p75 .fill, .c100.p76 .bar::after, .c100.p76 .fill, .c100.p77 .bar::after, .c100.p77 .fill, .c100.p78 .bar::after, .c100.p78 .fill, .c100.p79 .bar::after, .c100.p79 .fill, .c100.p80 .bar::after, .c100.p80 .fill, .c100.p81 .bar::after, .c100.p81 .fill, .c100.p82 .bar::after, .c100.p82 .fill, .c100.p83 .bar::after, .c100.p83 .fill, .c100.p84 .bar::after, .c100.p84 .fill, .c100.p85 .bar::after, .c100.p85 .fill, .c100.p86 .bar::after, .c100.p86 .fill, .c100.p87 .bar::after, .c100.p87 .fill, .c100.p88 .bar::after, .c100.p88 .fill, .c100.p89 .bar::after, .c100.p89 .fill, .c100.p90 .bar::after, .c100.p90 .fill, .c100.p91 .bar::after, .c100.p91 .fill, .c100.p92 .bar::after, .c100.p92 .fill, .c100.p93 .bar::after, .c100.p93 .fill, .c100.p94 .bar::after, .c100.p94 .fill, .c100.p95 .bar::after, .c100.p95 .fill, .c100.p96 .bar::after, .c100.p96 .fill, .c100.p97 .bar::after, .c100.p97 .fill, .c100.p98 .bar::after, .c100.p98 .fill, .c100.p99 .bar::after, .c100.p99 .fill, .c100.p100 .bar::after, .c100.p100 .fill {
    transform: rotate(180deg);
}
.c100 {
    background-color: #efefef;
    border-radius: 50%;
    float: left;
    font-size: 120px;
    height: 0.8em;
    margin: 0 0.2em 0.1em 0;
    position: relative;
    width: 0.8em;
}
.c100 *, .c100 *::before, .c100 *::after {
    box-sizing: content-box;
}
.c100.center {
    float: none;
    margin: 0 auto;
}
.c100.big {
    font-size: 240px;
}
.c100.small {
    font-size: 80px;
}
.c100 > span {
    color: #999;
    display: block;
    font-size: 0.2em;
    left: 0;
    line-height: 4em;
    position: absolute;
    text-align: center;
    top: 0;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-out;
    white-space: nowrap;
    width: 4em;
    z-index: 1;
}
.c100::after {
    background-color: white;
    border-radius: 50%;
    content: " ";
    display: block;
    height: 0.64em;
    left: 0.07em;
    position: absolute;
    top: 0.07em;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in;
    width: 0.64em;
}
.c100 .slice {
    clip: rect(0em, 0.8em, 0.8em, 0.4em);
    height: 0.8em;
    position: absolute;
    width: 0.8em;
}
.c100.p1 .bar {
    transform: rotate(3.6deg);
}
.c100.p2 .bar {
    transform: rotate(7.2deg);
}
.c100.p3 .bar {
    transform: rotate(10.8deg);
}
.c100.p4 .bar {
    transform: rotate(14.4deg);
}
.c100.p5 .bar {
    transform: rotate(18deg);
}
.c100.p6 .bar {
    transform: rotate(21.6deg);
}
.c100.p7 .bar {
    transform: rotate(25.2deg);
}
.c100.p8 .bar {
    transform: rotate(28.8deg);
}
.c100.p9 .bar {
    transform: rotate(32.4deg);
}
.c100.p10 .bar {
    transform: rotate(36deg);
}
.c100.p11 .bar {
    transform: rotate(39.6deg);
}
.c100.p12 .bar {
    transform: rotate(43.2deg);
}
.c100.p13 .bar {
    transform: rotate(46.8deg);
}
.c100.p14 .bar {
    transform: rotate(50.4deg);
}
.c100.p15 .bar {
    transform: rotate(54deg);
}
.c100.p16 .bar {
    transform: rotate(57.6deg);
}
.c100.p17 .bar {
    transform: rotate(61.2deg);
}
.c100.p18 .bar {
    transform: rotate(64.8deg);
}
.c100.p19 .bar {
    transform: rotate(68.4deg);
}
.c100.p20 .bar {
    transform: rotate(72deg);
}
.c100.p21 .bar {
    transform: rotate(75.6deg);
}
.c100.p22 .bar {
    transform: rotate(79.2deg);
}
.c100.p23 .bar {
    transform: rotate(82.8deg);
}
.c100.p24 .bar {
    transform: rotate(86.4deg);
}
.c100.p25 .bar {
    transform: rotate(90deg);
}
.c100.p26 .bar {
    transform: rotate(93.6deg);
}
.c100.p27 .bar {
    transform: rotate(97.2deg);
}
.c100.p28 .bar {
    transform: rotate(100.8deg);
}
.c100.p29 .bar {
    transform: rotate(104.4deg);
}
.c100.p30 .bar {
    transform: rotate(108deg);
}
.c100.p31 .bar {
    transform: rotate(111.6deg);
}
.c100.p32 .bar {
    transform: rotate(115.2deg);
}
.c100.p33 .bar {
    transform: rotate(118.8deg);
}
.c100.p34 .bar {
    transform: rotate(122.4deg);
}
.c100.p35 .bar {
    transform: rotate(126deg);
}
.c100.p36 .bar {
    transform: rotate(129.6deg);
}
.c100.p37 .bar {
    transform: rotate(133.2deg);
}
.c100.p38 .bar {
    transform: rotate(136.8deg);
}
.c100.p39 .bar {
    transform: rotate(140.4deg);
}
.c100.p40 .bar {
    transform: rotate(144deg);
}
.c100.p41 .bar {
    transform: rotate(147.6deg);
}
.c100.p42 .bar {
    transform: rotate(151.2deg);
}
.c100.p43 .bar {
    transform: rotate(154.8deg);
}
.c100.p44 .bar {
    transform: rotate(158.4deg);
}
.c100.p45 .bar {
    transform: rotate(162deg);
}
.c100.p46 .bar {
    transform: rotate(165.6deg);
}
.c100.p47 .bar {
    transform: rotate(169.2deg);
}
.c100.p48 .bar {
    transform: rotate(172.8deg);
}
.c100.p49 .bar {
    transform: rotate(176.4deg);
}
.c100.p50 .bar {
    transform: rotate(180deg);
}
.c100.p51 .bar {
    transform: rotate(183.6deg);
}
.c100.p52 .bar {
    transform: rotate(187.2deg);
}
.c100.p53 .bar {
    transform: rotate(190.8deg);
}
.c100.p54 .bar {
    transform: rotate(194.4deg);
}
.c100.p55 .bar {
    transform: rotate(198deg);
}
.c100.p56 .bar {
    transform: rotate(201.6deg);
}
.c100.p57 .bar {
    transform: rotate(205.2deg);
}
.c100.p58 .bar {
    transform: rotate(208.8deg);
}
.c100.p59 .bar {
    transform: rotate(212.4deg);
}
.c100.p60 .bar {
    transform: rotate(216deg);
}
.c100.p61 .bar {
    transform: rotate(219.6deg);
}
.c100.p62 .bar {
    transform: rotate(223.2deg);
}
.c100.p63 .bar {
    transform: rotate(226.8deg);
}
.c100.p64 .bar {
    transform: rotate(230.4deg);
}
.c100.p65 .bar {
    transform: rotate(234deg);
}
.c100.p66 .bar {
    transform: rotate(237.6deg);
}
.c100.p67 .bar {
    transform: rotate(241.2deg);
}
.c100.p68 .bar {
    transform: rotate(244.8deg);
}
.c100.p69 .bar {
    transform: rotate(248.4deg);
}
.c100.p70 .bar {
    transform: rotate(252deg);
}
.c100.p71 .bar {
    transform: rotate(255.6deg);
}
.c100.p72 .bar {
    transform: rotate(259.2deg);
}
.c100.p73 .bar {
    transform: rotate(262.8deg);
}
.c100.p74 .bar {
    transform: rotate(266.4deg);
}
.c100.p75 .bar {
    transform: rotate(270deg);
}
.c100.p76 .bar {
    transform: rotate(273.6deg);
}
.c100.p77 .bar {
    transform: rotate(277.2deg);
}
.c100.p78 .bar {
    transform: rotate(280.8deg);
}
.c100.p79 .bar {
    transform: rotate(284.4deg);
}
.c100.p80 .bar {
    transform: rotate(288deg);
}
.c100.p81 .bar {
    transform: rotate(291.6deg);
}
.c100.p82 .bar {
    transform: rotate(295.2deg);
}
.c100.p83 .bar {
    transform: rotate(298.8deg);
}
.c100.p84 .bar {
    transform: rotate(302.4deg);
}
.c100.p85 .bar {
    transform: rotate(306deg);
}
.c100.p86 .bar {
    transform: rotate(309.6deg);
}
.c100.p87 .bar {
    transform: rotate(313.2deg);
}
.c100.p88 .bar {
    transform: rotate(316.8deg);
}
.c100.p89 .bar {
    transform: rotate(320.4deg);
}
.c100.p90 .bar {
    transform: rotate(324deg);
}
.c100.p91 .bar {
    transform: rotate(327.6deg);
}
.c100.p92 .bar {
    transform: rotate(331.2deg);
}
.c100.p93 .bar {
    transform: rotate(334.8deg);
}
.c100.p94 .bar {
    transform: rotate(338.4deg);
}
.c100.p95 .bar {
    transform: rotate(342deg);
}
.c100.p96 .bar {
    transform: rotate(345.6deg);
}
.c100.p97 .bar {
    transform: rotate(349.2deg);
}
.c100.p98 .bar {
    transform: rotate(352.8deg);
}
.c100.p99 .bar {
    transform: rotate(356.4deg);
}
.c100.p100 .bar {
    transform: rotate(360deg);
}
.c100:hover {
    cursor: default;
}
.c100:hover > span {
    color: #307bbb;
    font-size: 0.25em;
    line-height: 3.33em;
    width: 3.33em;
}
.c100:hover::after {
    height: 0.72em;
    left: 0.04em;
    top: 0.04em;
    width: 0.72em;
}
.c100.dark {
    background-color: #777777;
}
.c100.dark .bar, .c100.dark .fill {
    border-color: #c6ff00 !important;
}
.c100.dark > span {
    color: #777777;
}
.c100.dark::after {
    background-color: #666666;
}
.c100.dark:hover > span {
    color: #c6ff00;
}
.c100.green .bar, .c100.green .fill {
    border-color: #0c0 !important;
}
.c100.green:hover > span {
    color: #090;
}
.c100.green.dark .bar, .c100.green.dark .fill {
    border-color: #5fd400 !important;
}
.c100.green.dark:hover > span {
    color: #5fd400;
}
.c100.orange .bar, .c100.orange .fill {
    border-color: #dd9d22 !important;
}
.c100.orange:hover > span {
    color: #dd9d22;
}
.c100.orange.dark .bar, .c100.orange.dark .fill {
    border-color: #e08833 !important;
}
.c100.orange.dark:hover > span {
    color: #e08833;
}
.c100.yellow .bar, .c100.yellow .fill {
    border-color: #fec84c !important;
}
.c100.yellow:hover > span {
    color: #fec84c;
}
.c100.red .bar, .c100.red .fill {
    border-color: #e00 !important;
}
.c100.red:hover > span {
    color: #e00;
}
