@font-face {
  font-family: 'light';
  src: url('font/OpenSans-Light.eot');
  src: url('font/OpenSans-Light.woff2') format('woff2'), url('font/OpenSans-Light.woff') format('woff'), url('font/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'regular';
  src: url('font/OpenSans-Regular.eot');
  src: url('font/OpenSans-Regular.woff2') format('woff2'), url('font/OpenSans-Regular.woff') format('woff'), url('font/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'semibold';
  src: url('font/OpenSans-Semibold.eot');
  src: url('font/OpenSans-Semibold.woff2') format('woff2'), url('font/OpenSans-Semibold.woff') format('woff'), url('font/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'form';
  src: url('font/Lato-Regular.ttf') format('truetype');
}
#dashboard {
  padding-top: 30px;
  padding-left: 15px;
}
.panel-heading .fa {
  float: right;
  margin-top: 3px;
}
.c {
  clear: both;
  margin: 10px 0 20px 10px;
  height: 60px;
}
.tat-label {
  font-size: 13.2px;
  padding-top: 0px;
}
.count {
  font-size: 13.2px;
}
.count span {
  font-size: 19.8px;
  font-weight: bold;
}
.text-danger {
  color: #C00;
}
.text-warning {
  color: #FC0;
}
.text-success {
  color: #090;
}
#b .text-danger {
  color: #C00;
  font-weight: bold;
  text-align: center;
  padding-left: 0 !important;
}
#b .text-warning {
  color: #FC0;
  font-weight: bold;
  text-align: center;
  padding-left: 0 !important;
}
.well {
  margin: 30px 0 0 0;
}
.well p {
  margin-bottom: 3px;
  font-style: italic;
}
.well span {
  display: inline-block;
  padding-right: 5px;
}


#pending div.col-sm-6 > div{
	margin-bottom:20px;
}


#pending > div a{
	position:relative;
	display:block;
	padding:5px 0 3px 10px;
	border-bottom:1px dashed #999999;	
}	


	
#pending .badge{
	position:absolute;
	top:5px;
	right:5px;
	width:auto;
	background-color:#DF5138;
}	


#pending > div span.tranName{
	position:relative;
	display:block;
	padding:5px 0 3px 10px;
	border-bottom:1px dashed #999999;	
}	
	

